* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width: 460px;
    padding: 20px;
}

.mySlides {
  display: none;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;

}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}